*_LOCAL

############# OLD

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

########### NEW

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

#### Swift Package Manager 5.7
.DS_Store
### relative to this .gitignore file (note: / at beginning)
#/.build
#/Packages
#/*.xcodeproj
### directories only (note: / at end)
#xcuserdata/
DerivedData/
### all instances (note: / not used)
.build
Packages
*.xcodeproj
xcuserdata
### 
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Vapor
db.sqlite
.swiftpm
.env

#################
## LibreOffice ##
#################
.~lock*
